html
  head
    title Блог
    link(rel="stylesheet", href="/style.css")
  body
    header
      h1 dailyokinawa
      nav
        ul
          li: a(href='/') Главная
          li: a(href='/blog') Статьи
          li: a(href='/contact') Контакты
    block content
    footer
      p &copy; 2024 dailyokinawa
      a(href="t.me/leavingshibuya") tg