html
    head
        style 
            include stylefaq.css
        title="Обо мне"
    body
        h1.centered Обо мне
        .profile-container
            .image-container
                img(style="border-radius: 100%; border: 3px solid purple;" src="https://i.pinimg.com/736x/96/74/1e/96741ed765261b67f35f296a68f585f0.jpg" width=200 height=200)
            .text-container
                h2 Илья Пеунков
                p 19 лет
                p 
                    a(href="https://t.me/leavingshibuya") tg
                p Интересы:
                    ul
                        li videogames
                        li anime
                        li reading